#form > button[disabled] {
    background-color: #444;
    color: #666
}
#form > button[disabled]:hover {
    background-color: #444;
    cursor: not-allowed;
}
#form {
    width: 50%;
    margin: 2% auto;
}
#form > button {
    margin: 0 auto;
    margin-block-start: auto;
    margin-block-end: auto;
    display: block;
    background-color: #6e64bf;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 25px;
    outline: none;
    font-family: "Lucida Console", sans-serif;
}
#form > button:hover{
    cursor: pointer;
    background-color: #3b318c;
}